<nav class="navbar-custom">
  <div class="navbar-container">
    <div onclick="window.history.back()" id="back" class="back btn btn-rounded-circle btn-white">
      <img ondragstart="return false" src="../assets/img/back-icon.svg" alt="">
    </div>
    <div class="logo">
      <img ondragstart="return false" src="../assets/img/logo.svg" alt="">
    </div>
    <div class="logo2">
      <img ondragstart="return false" src="../assets/img/logo2.svg" alt="">
    </div>
  </div>
</nav>

<style>
  .navbar-custom {
    width: 100%;
    padding: 15px;
    background: #132A46;
  }
  .navbar-container {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    position: relative;
    user-select: none;
  }
  .logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .logo2 {
    margin-left: auto;
  }
  .back {
    display: none;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
  }
</style>

<script>
  let btnBack = document.getElementById('back');
  // console.log(history.length)
  if(history.length > 1) {
    btnBack.style = 'display: flex'
  }
</script>